@charset "utf-8";
/* CSS Document */
/* Author : Albert Ricia
   Designed : Fransiskus Edbert
*/

/* Fonts */
.graybox
{
	/*width:auto;*/
	/*background-color:#ececec;*/
	background-image:url('../assets/plot_texture5.jpg');
	background-repeat:repeat;
	margin-left:-7px;
	width:100.5%;
}

.bar.active {
	width:29.9%;
}

.text-about, .text-contact, .text-video {
	/*text-align:center;*/
	width:550px;
	min-height:250px;
	font-size:14px !important;
}

.round {
	border-radius: 100%;
}

.tbl_work
{
	margin:0 auto 0 auto;
}

.btnfull
{
	width:100%;
}

.events_box
{
	cursor:pointer;
	opacity:0.65;
	transition:all 360ms;
	-ms-transition:all 360ms;
	-moz-transition:all 360ms;
	-webkit-transition:all 360ms;
	-o-transition:all 360ms;
}

span.events_box {
	display: inline;
}

.events_box:hover
{
	cursor:pointer;
	opacity:1.2;
}

.whitebox
{
	width:auto;
	background-color:white;
	margin-left:-7px;
	width:100.5%;
}

.settings
{
	margin-left:150px;
	float:left;
	width:36px;
	top:120px;
	position:absolute;
}

/* Header */
.headercontent
{
	max-width:960px;
	min-width:800px;
	height:65px;
	margin:0px auto 0px auto;
}

.logo
{
	/* width:220px;
	height:70px;
	float:left; */
	cursor:pointer;
}

.icon
{
	cursor:pointer;
	opacity:0.78;
	transition:all 400ms;
	-ms-transition:all 400ms;
	-moz-transition:all 400ms;
	-webkit-transition:all 400ms;
	-o-transition:all 400ms;
}

img.panel {
	width: 30px; 
}

.icon:hover
{
	opacity:1.2;
}

button.top
{
	background-image:url('../assets/top.png');
	position:fixed;
	background-size:cover;
	background-color:transparent;
	background-repeat:no-repeat;
	display:none;
	width:50px;
	height:50px;
	bottom:50px;
	right:50px;
	border:none;
	border-radius:100%;
}

w100px
{
	width:100px;
}

input[type="text"], input[type="password"]
{
	padding:5px;
}

textarea
{
	padding:3px;
}

.headermenu
{
	float:right;
	width:500px;
	min-height:40px;
	margin-top:20px;	
}

.bg-css
{
	margin-left:-2px;
	display:inline-block;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	height:677px;
	width:25%;
}

.mnbutton
{
	float:left;
	font-size:13pt;
	padding:10px;
	text-transform:uppercase;
	color:#666667;
	cursor:pointer;
	transition:all 400ms;
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
	-webkit-transition:all 400ms;
}

.mnbutton:hover,.mnbutton.active
{
	color:#1d89c8;
}

.bg
{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.loginbox
{
	position:fixed;
	width:400px;
	height:300px;
	border:thin solid gray;
	top:20%;
	left:35%;
	padding:18px;
	box-shadow:0 0 5px gray;
	border-radius:7px;
	background-color:white;
	z-index:1001;
}

.bigbox
{
	position:fixed;
	width:960px;
	height:550px;
	border:thin solid gray;
	top:5%;
	left:14%;
	display:none;
	padding:18px;
	box-shadow:0 0 5px gray;
	border-radius:7px;
	background-color:white;
	z-index:1001;
}

.error_format
{
	color:red;
	font-size:11pt;
	font-family:calibri;
	font-weight:bold;
	text-align:center;
}

.f10
{
	font-size:8pt;
}

.div-mid
{
	width:260px;
	margin:22px 0px 0px 40px;
	padding:7px;
	min-height:22px;
	text-align:center;
	float:left;
}

.mini
{
	width:12px;
	height:12px;
}

.clear
{
	clear:both;
}

/* Body */
.content
{
	/*width:960px;
	height:665px;*/
	margin:0px auto 0px auto;
}

.leftcontent
{
	width:32%;
	float:left;
	min-height:665px;
}

.midcontent
{
	width:32%;
	float:left;
	min-height:665px;
}

.bg-board
{
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	margin-top:78px;
	height:677px;
}

#homebg
{
	width:400%;
	margin-top:5px;
	height:677px;
}

.rightcontent
{
	width:32%;
	float:right;
	min-height:665px;
}

.midlogo
{
	width:150px;
	height:150px;
	margin:180px auto 0px auto;
	cursor:pointer;
}

.loadingbox
{
	width:80px;
	margin:100px auto 0px auto;
}

.box
{
	width:18px;
	margin:1px;
	height:18px;
	float:left;
	cursor:pointer;
	transition:all 400ms;
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
	-webkit-transition:all 400ms;
	background-color:#dfdfdf;
}

.box:hover
{
	background-color:#2289C7;
}

.box.activate
{
	background-color:#0363A8;
}

.btns
{
	padding:10px;
	background-color:white;
	opacity:0.9;
	border:3px solid #c5c5c5;
	font-family:helv;
	text-transform:uppercase;
	cursor:pointer;
	transition:all 400ms;
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
	-webkit-transition:all 400ms;
}

.btns:hover
{
	border-color:#0363A8;
	/*background-color:#c5c5c5;*/
	color:#0363A8;
	opacity:1.2;
}

a.btn-edit
{
	padding:10px;
	text-decoration:none;
	font-family:aller;
	color:#666667;
	font-size:13pt;
}

a.btn-edit:hover,footer a:hover
{
	color:#1d89c8;
}

footer a
{
	text-decoration:none;
	color:#666667;
}

.findout
{
	margin-top:14px;
	font-size:16px;
	color:#c5c5c5;
	text-transform:uppercase;
}

/*About Content*/
.about.contents
{
	/*background-color:#ececec;*/
	min-height:585px;
	width:960px;
	margin:0px auto 0px auto;
}

.titlebar
{
	width:auto;
	min-height:20px;
	text-transform:uppercase;
	background-color:white;
	text-align:center;
	font-family:helv;
	font-size:28px;
	padding:30px;
	color:#6a6666;
}

.quotebar
{
	width:auto;
	padding:15px;
	min-height:20px;
	font-size:15pt;
	text-align:center;
	text-transform:uppercase;
	font-family:helvlight;
	color:#0363A8;
	margin-bottom:5px;
}

.about.leftcontent
{
	width:470px;
	padding:0px 30px 30px 30px;
	float:left;
	min-height:400px;
	font-size:10.5pt;
	font-family:aller;
}

.about.rightcontent
{
	width:300px;
	padding-right:44px;
	margin-left:5px;
	float:right;
	min-height:400px;
}

.about.quote
{
	width:auto;
	padding:8px;
	text-transform:none;
	min-height:10px;
	font-weight:bold;
	text-align:center;
	font-family:avant;
	font-size:11pt;
	margin-bottom:15px;
	border-top:2px solid silver;
	border-bottom:2px solid silver;
}

.picturebox
{
	width:280px;
	height:420px;
	border:3px solid #c5c5c5;
	padding:15px;
}

.picture
{
	width:277px;
	height:447px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/*Works Content*/
.imgbox
{
	width:420px;
	height:570px;
	background-color:white;
	position:fixed;
	z-index:1002;
	left:35%;
	top:8%;;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	display:none;
	border:thin solid silver;
	overflow:hidden;
	cursor:pointer;
}

.btn
{
	font-family:aller;
}

.desc-bar
{
	margin-top:570px;
	background:rgba(0,0,0,0.7);
	height:100px;
	width:100%;
	text-align:center;
	font-family:helv;
	color:white;
}

.background-pic
{
	position:fixed;
	width:100%;
	height:100%;
	z-index:1001;
	background-color:rgba(51,51,51,0.65);
	top:0;
	left:0;
	display:none;

}

.works.contents
{
	width:960px;
	min-height:665px;
	display:inline-block;
}

.nowrap
{
	white-space:nowrap;
	overflow:hidden;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
   /* background-image: url(http://placekitten.com/240/240);*/
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon1 {
    width: 400px;
    height: 200px;
    margin: 0 0 0 -80px;
    }
.hexagon2 
{
	width: 140px;
	height: 280px;
	margin: -80px 0 0 20px;
}
		
.innerhex 
{
    /*position: relative; 
    display: inline-block;*/
    width: 140px;
    height: 180px;
	border:silver solid black;
    background: #fff;
	position:relative;
	left:-225px;
	top:440px;
	margin-top:-180px;
	display:none;
	z-index:20;
	box-shadow:0 0 6px silver;
	border-radius:4px;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.hexagon3 {
    width: 90px;
    height: 180px;
    margin: -80px 0 0 20px;
    }
	
.dodecagon {
    width: 200px;
    height: 200px;
    margin: -80px 0 0 20px;
    }


.dnone {
	display:none;
}

.vnone {
	display: none !important;
}

.social-icons a.dnone
{
	display:none !important;
}

/*Events Content*/
.events.section
{
	width:100%;
	min-height:300px;
	padding-bottom:80px;
}

.events.title.list
{
	width:960px;
	margin:0px auto 0px auto;
	min-height:60px;
	padding:15px; 	
	color:#6a6666;
	font-family:helv;
}

p.events.title
{
	font-size:20pt;
	margin-top:24px;
}

.event.contents
{
	width:auto;
	min-height:865px;
}

.event.boxes
{
	width:253px;
	min-height:243px;
	border:thin solid silver;
	margin:20px;
	background-color:white;
	float:left;
	padding:10px;
	box-shadow:0 6px 12px silver;
}

.event.desc
{
	width:238px;
	font-family:aller;
	height:80px;
	padding:6px;
}

.event.photo
{
	height:200px;
	margin-right:12px;
	box-shadow:0 5px 10px silver;
	display:inline-block;
	cursor:pointer;
}


.roller-board
{
	width:100%;
	min-height:220px;
	background-color:white;
	box-shadow: 0 0 18px silver;
}

.roller-inner-board
{
	width:980px;
	min-height:220px;
	margin:0px auto 0px auto;
} 

.middle-board
{
	width:856px;
	float:left;
	min-height:185px;
	padding:12px;
	overflow:hidden;
	white-space:nowrap;
}

.left-sign
{
	float:left;
	width:35px;
	min-height:214px;
	padding:6px;
}

.arrow
{
	margin-top:92px;
	width:30px;
	height:30px;
}

.clear
{
	clear:both;
}

.right-sign
{
	float:right;
	width:35px;
	min-height:214px;
	padding:6px;
}

.evtimgbox
{
	width:700px;
	height:400px;
	background-color:white;
	position:fixed;
	z-index:1002;
	left:25%;
	top:18.5%;;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	display:none;
	border:thin solid silver;
	overflow:hidden;
	cursor:pointer;
}


/*Contact Us Content*/
.contact.contents
{
	width:auto;
	min-height:470px;
}

.contact.leftcontents
{
	width:330px;
	min-height:550px;
	float:left;	
	background-image:url('../image/left-img.png');
}

.contact.rightcontents
{
	width:623px;
	min-height:500px;
	
	float:left;	
}

.longbtn
{
	min-height:20px;
	width:234px;
	padding:6px;
	font-size:13pt;
	color:white;
	background-color:#666666;
	border:none;
}

.contact.form
{
	width:500px;
	min-height:370px;
	padding:10px 10px 25px 10px;
	font-family:helv;
	margin:45px auto 50px auto;
	/*background-color:#ebebeb;*/
	background-image:url('../assets/plot_texture5.jpg');
	background-repeat:repeat;
	color:#6d7070;
}

div.head
{
	font-size:15pt;
	text-transform:uppercase;
	padding:8px;
	width:auto;
}

/*table tr td
{
	font-size:13pt;
}*/

.halftable
{
	float:right;
	width:236px;
	border-left:2px gray solid;
	font-size:13pt;
	font-family:helv;
	min-height:400px;
}

/*Edit Section CSS*/
.form-text
{
	border-radius:4px;
	border:thin solid silver;
	padding:15px;
	font-size:14pt;
	width:100%;
	font-family:helvlight;
}

.form-textarea
{
	border-radius:4px;
	border:thin solid silver;
	padding:8px;
	font-size:11pt;
	width:100%;
	font-family:allerbd;
}

contact-text
{
	border:none;
	border-radius:0px;
	padding:15px;
	font-size:12pt;
	width:150px;
	font-family:helvlight;
}

.contact-textarea
{
	border-radius:4px;
	border:thin solid silver;
	padding:5px;
	font-size:11pt;
	font-family:helvlight;
}

.mini-icon-settings
{
	width:36px;
	height:36px;
}

.mini-icon-settings_30
{
	width:30px;
	height:30px;
}

.mini-icon-settings_32
{
	width:32px;
	height:32px;
}

.text-fact {
	width:145px;
	font-size:35pt !important;
}

.text-fact {
	width:145px;
	font-size:32pt !important;
	text-align: center;
}

.text-center
{
	text-align:center;
}

.text-upper
{
	text-transform:uppercase;
}

.btn
{
	font-family:helv;
}

.btn-chp
{
	margin:16px 0px 16px 10px;
	display:none;
	float:right;
	font-family:aller;
}

.div-upload
{
	width:100%;
	min-height:40px;
	border:2pt solid silver;
	padding:10px;
	display:none;
	margin:10px 0px 16px 0px;
}

.side-bar
{
	border:thin solid silver;
	left:0;
	top:30%;
	min-height:50px;
	background-color:white;
	min-width:32px;
	box-shadow:0 4px 12px silver;
	padding:5px;
	position:fixed;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	z-index: 1020;
}

.edit-about, .edit-aboutquote, .edit-abouthome, .edit-about1, .edit-about2, .edit-roder, .edit-title
{
	display:none;
}

#div-change-logo,#btsave-bloglink,#btcancel-bloglink,.edit-bloglink, #btsave-map,#btcancel-map,.edit-map,#btsave-testimoni,#btcancel-testimoni,.edit-testimoni,#btsave-setting,#btcancel-setting,.edit-setting, #btsave-video,#btcancel-video,.edit-video,#btsave-contactmsg,#btcancel-contactmsg,.edit-contactmsg,#btsave-about,#btcancel-about,#btsave-about2,#btcancel-about2,#btsave-about1,#btcancel-about1,#btsave-roder,#btcancel-roder,#btsave-aboutquote,#btcancel-aboutquote,.btsave-title,.btcancel-title,#btsave-abouthome,#btcancel-abouthome,.h-fact,#btsave-fact,#btcancel-fact,#btsave-contact,#btcancel-contact,.edit-contact,#createpic,#editpic,.file-input, #createimg,#editimg,.file-input-img
{
	display:none;
}

.fluid {
	width:100% !important;
}

.manage-box,.manage-work-box
{
	width:101%;
	height:655px;
	margin-left:-7px;
	margin-top:-7px;
	background-color:white;
	box-shadow:0 3px 5px silver;
	display:none;
}

.mng-table
{
	border-collapse:collapse;
	border:thin solid silver;
}

.contact-input-text
{
	width:220px;
	border:none;
	border-radius:0px;
}

.div-errorbox
{
	width:100%;
	padding:8px;
	min-height:20px;
	position:fixed;
	left:0;
	top:0;
	display:none;
	z-index:2000;
}

.error
{
	width:300px;
	margin:10px;
	border:thin solid silver;
	margin:0px auto 0px auto;
	background-color:rgba(255,255,224,1);
	box-shadow:0 2px 15px silver;
	min-height:18px;
	font-size:13pt;
	font-family:helv;
	padding:8px;
	text-align:center;
	color:red;
}

.font-error {
	font-size:11pt;
	padding-top:8px;
	text-align:center;
	color: #FFAAAA;
	display: none;
	font-weight: bold;
}

.btn-next-prev
{
	width:50px;
	height:80px;
	opacity:0.35;
	transition:all 420ms;
	-o-transition:all 420ms;
	-webkit-transition:all 420ms;
	-moz-transition:all 420ms;
	-ms-transition:all 420ms;
	cursor:pointer;
}

.btn-next-prev:hover
{
	opacity:1.2;
}

.f-helv
{
	font-family:helvlight;
}

.about-left
{
	float:left;
	width:225px;
	height:360px;
}

.about-right
{
	float:right;
	width:225px;
	height:360px;
}

.about-box
{
	width:470px;
	white-space:normal;
	display:inline-block
}

.mini-btn
{
	width:25px;
	height:25px;
	margin-left:1px;
	margin-right:1px;
}

.side-box
{
	width:280px;
	padding:12px;
	position:fixed;
	top:0;
	left:-292px;
	background-color:white;
	box-shadow:0 0 12px silver;
	height:100%;
	z-index:9999;
}

.side-box input[type="text"], .side-box input[type="password"]
{
	width:100%;
	padding:6px !important;
	border-radius: 5px !important;
	text-transform: none;
	border: thin solid #CECECE;
	font-size:10pt;
}

.splabel
{
	background-color:#dfdfdf;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	color:black;
	font-weight:bold;
	text-shadow:0 0 4px white;
	padding:0px 6px 2px 6px;
	font-family:calibri;
	font-size:11pt;
	display: unset;
}


.btn
{
	font-family:calibri;
	font-weight:bold;
}

.spclose
{
	padding:4px;
	float:right;
	color:darkgray;
	cursor:pointer;
	margin-top: -4px;
	transition:all 360ms;
	-moz-transition:all 360ms;
	-ms-transition:all 360ms;
	-webkit-transition:all 360ms;
	text-shadow:0 0 4px white;
}

.spleft
{
	text-align:left !important;
	padding:4px;
	float:left;
	font-size:9pt;
	color:darkgray;
	cursor:pointer;
	transition:all 360ms;
	-moz-transition:all 360ms;
	-ms-transition:all 360ms;
	-webkit-transition:all 360ms;
	text-shadow:0 0 4px white;
}

span.mini
{
	height:10px;
	margin-top:6px;
}

.fnchpic,.fnchimg,#fnchlogo,.fnchevtimg,#fnchweblogo, #fnchwallpaper, #fnchwallpaper2, #fnchcv
{
	display:none !important;
}

.mini-input
{
	text-align:center;
	margin-top:6px;
	font-size:10pt;
	width:125px;
}

.back-white
{
	background-color:white;
	border-bottom-left-radius:8px;
}

.back-white-left
{
	background-color:white;
	border-bottom-right-radius:8px;
}

.spclose:hover,spleft:hover
{
	color:#333;
}

.slide-img
{
	margin-bottom:12px;
	text-align:center;
	border: 2px solid #CECECE;
	padding: 10px;
	min-height: 136px;
}

.wid
{
	width:220px;
}

.no-border {
	border:none !important;
}

.div-img
{
	width:100%;
	height:110px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	-moz-background-size:cover;
}

.div-evt
{
	width:220px;
	min-height:85px;
	padding:4px;
}

.wid_240
{
	width:240px;
}

.uploadpanel
{
	border-bottom:thin solid silver;
	width:auto;
	padding:8px;
	min-height:120px;
	margin-bottom:15px;
}

.scrollpanel
{
	min-height:462px;
	overflow:auto;
	overflow-x:hidden;
	position:relative;
	height:71%;
	width:auto;
}

.child-scrollpanel
{
	position:relative;
	
}

.sidealfull
{
	margin-top:15px;
	height:86%;
}

.bnone
{
	border-bottom:none;
}

.txtarea_work
{
	width:230px;
	height:208px;
	border:thin solid silver;
	padding:5px;
}

.small-font
{
	font-size:10pt;
}

.btn-padding {
	padding:8px;
}

label {
	color: #333;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 3px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 6px;
    font-family: 'Raleway', sans-serif;
}

legend {
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.btn {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    outline: none;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
/*
a.link {
	text-decoration: underline !important;
}*/

.btn-black {
    background-color: #222;
    border-color: transparent;
    color: #fff;
}

.btn-black:hover {
    background-color: #17a697;
    border-color: transparent;
    color: #fff;
}

.welcome-planc {
	background-color: #41b7fc !important;
	color : #fff;
	position:fixed;
	font-family:calibri;
	padding:5px;
	top:0;
	left:40px;
	z-index: 1000;
}

.tbl-input tr td {
	padding: 1px !important;
}

.tbl-social {
	/*margin-left:auto;
	margin-right:auto;*/
	width: 250px;
}

.tbl-social input {
	padding:5px;
}

@media (max-width: 767px) {
    .bar.active {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .mobile {
        display: inline-block !important;
    }

    .desktop {
    	display: none !important;
    }
}

@media (min-width: 960px) {
    .desktop {
        display: inline-block !important;
    }

    .mobile {
    	display: none !important;
    }
}

@media (max-width: 500px) {
	.welcome-planc {
		display: none !important;
	}
}



