/* Basic */

body {
  overflow-x: hidden;

  margin: 0;
}

.browserupgrade {
  margin: 0;
  padding: .5em 1em;

  text-align: center;

  background-color: #fcfcfc;
}

.btn-group > .btn {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group > label {
  margin-bottom: 0;
}


/* Jumbotron */

.docs-jumbotron {
  color: #fff;
  border-radius: 0;
  background-color: #0074d9;
}

.docs-jumbotron .version {
  font-size: 16px;

  opacity: .8;
  color: #fff;
}

@media (min-width: 992px) {
  .docs-jumbotron h1 {
    font-size: 4.5rem;
    font-weight: normal;
  }
}

/* Content */

.img-container,
.img-preview {
  width: 100%;

  text-align: center;

  background-color: #f7f7f7;
}

.img-container {
  min-height: 200px;
  max-height: 469px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 469px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -16px;
}

.img-preview {
  float: left;
  overflow: hidden;

  margin-right: 8px;
  margin-bottom: 8px;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 255px;
  height: 143px;
}

.preview-md {
  width: 128px;
  height: 72px;
}

.preview-sm {
  width: 72px;
  height: 40px;
}

.preview-xs {
  width: 40px;
  height: 24px;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 8px;
}

.docs-data > .input-group > label {
  min-width: 80px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 4px;
  margin-bottom: 8px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 8px;
}

.docs-tooltip {
  display: block;

  margin: -8px -12px;
  padding: 8px 12px;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -16px!important;
  }

  .btn-group-crop > .btn {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.docs-aspect-ratios,
.docs-view-modes {
  width: 100%;
}

.docs-aspect-ratios > .btn {
  width: 20%;
}

.docs-view-modes > .btn {
  width: 25%;
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 4px 16px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;

  margin-bottom: 0;

  cursor: pointer;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}


/* Footer */

.docs-footer {
  overflow: hidden;
}

.links {
  margin-bottom: 32px;

  text-align: left;
}

.heart {
  font-size: 18px;
  line-height: 32px;

  position: relative;

  display: block;

  width: 100%;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 16px;

  text-align: center;

  color: #ddd;
}

.heart:hover {
  color: #ff4136;
}

.heart:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  display: block;

  height: 0;

  content: ' ';

  border-top: 1px solid #eee;
}

.heart:after {
  position: relative;
  z-index: 1;

  padding-right: 8px;
  padding-left: 8px;

  content: '♥';

  background-color: #fff;
}
